@import url(reset.css);


header {
	height: 140px;
	background-color: white;
	display: flex;
}

header p {
	font-family: helvetica;
	font-size: 50px;
	color: #E50043;
	padding: 40px 100px;	
}

ul {
	font-family: helvetica;
	font-size: 50px;
	color: #E50043;
	padding: 50px;
	display: flex;
}

ul li a{
	font-family: helvetica;
	font-size: 50px;
	color: #E50043;
	text-decoration: none;
	justify-content: flex-end;

}

.photo {
	color: white;
	height: 950px;
	display: flex;
}

h1 {
	font-family: helvetica;
	font-size: 100px;
	color: #E50043;
	margin: auto;
}

.text-one {
	width: 1040px;
	height: 280px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;

	font-family: helvetica;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-items: center;
}









