@import url(reset.css);


header {
	height: 140px;
	background-color: white;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	position: fixed;
	top: 0px;
	right: 0px;
}

header p {
	font-family: helvetica;
	font-size: 50px;
	color: #E50043;
	padding: 40px 100px;
}

ul {
	display: flex;
	padding-right: 100px;
}

a {
	font-family: helvetica;
	font-size: 50px;
	color: #E50043;
	text-decoration: none; 
	padding: 0 30px;
}

.photo {
	color: white;
	height: 950px;
	display: flex;
	background-image: url(../img/evian_origins_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

h1 {
	font-family: helvetica;
	font-size: 100px;
	color: #E50043;
	margin: auto;
}


.text-one {
	width: 1040px;
	height: 280px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	align-items: center;
	margin: 150px auto;
	padding: 20px;

	font-family: helvetica;
	font-size: 25px;
	line-height: 29px;
}

section {
	text-align: center;
}

.images {
	display: flex;
	justify-content: center;
}

img {
	padding: 0px 30px;
}

section p {
	font-family: helvetica;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	padding: 40px 50px;
	display: inline-block;
}

.section-two {
	width: 1040px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	align-items: center;
	margin: 60px auto 100px;
	padding-top: 20px;
	display: flex;
}

.section-two p {
	font-family: helvetica;
	font-size: 25px;
	line-height: 29px;
	text-align: left;
}

.bottle {
	background-image: url(../img/glass.png);
	height: 230px;
	width: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 90px;
}

footer {
	height: 140px;
	background: #F8BFC7;
	display: flex;
	justify-content: space-between;	
}

footer p {
	font-family: helvetica;
	font-size: 50px;
	color: white;
	padding: 40px 100px;
}







