@import url(reset.css);

header {
	height: 60px;
	background-color: red;
}

h1 {
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: white;
	padding-left: 30px;
}

section {
	width: 400px;
	height: 800px;
	display: inline-block;
	vertical-align: top;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
	margin: 50px 35px;

	font-size: 20px;
	line-height: 23px;
	padding: 50px;
}

h2 {
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
}

footer {
	height: 60px;
	background-color: red;
}

p {
	font-family: helvetica;
	font-size: 20px;
	line-height: 30px;
	color: white;
	display: inline-block;
	vertical-align: top;

}

.one {
	margin: 15px 30px;
}

.two {
	text-align: right;
	margin: 15px 30px;
	float: right;
}
