
.header {
	width: 1440px;
	height: 200px;
	background: blue;
}

.heading {
	font-size: 70px;
	color: white;
	font-family: 'Helvetica';
	position: absolute;
	left: 100px;
	top: 60px;
}

.image {
	width: 1440px;
	height: 1080px;
	background-image: url(../img/Sam.jpg);
}

.text {
	width: 1250px;
	padding: 70px 100px 5px;
	font-family: 'Helvetica';
	font-size: 35px;
	line-height: 60px;
	color: black;
}

.links a{
	margin: 200px 100px;
	font-family: 'Helvetica';
	font-size: 30px;
	text-decoration: none;
	line-height: 70px;
	color: blue;
}

footer {
	width: 1440px;
	height: 200px;
	background: #0000ff80;
}

.logo {
	width: 205px 46px;
	background-image: url(../img/logo.png);
	z-index: 2;
	position: absolute;
	top: 2000px
}

