@import url(reset.css);

.header {
	width: 1440px;
	height: 100px;
	background: blue;
}

.heading {
	text-align: center;
	font-size: 50px;
	line-height: 90px;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

.border {
	width: 1440px;
	height: 100px;
 	background: #0000ffbf;
}

.text {
	width: 1350px;
	height: 700px;
	padding: 60px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	line-height: 60px;
	font-weight: regular 400;
	color: black;
}

.links {
	width: 1350px;
	height: 700px;
	padding: 60px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	line-height: 60px;
	font-weight: regular 400;
	color: black;
}

.footer {
	width: 1440px;
	height: 200px;
	position: relative;
	background: #0000ff80;
}

