
.header {
	width: 1440px;
	height: 200px;
	background: blue;
	top: 1px;
}

.heading {
	margin: 50px 100px;
	font-size: 70px;
	color: white;
	font-family: 'Helvetica';
	left: 100px;
	top: 60px;
}

.image {
	width: 1440px;
	height: 1080px;
	background-image: url(../img/Sam.jpg);
}

.text {
	width: 1250px;
	padding: 70px 100px 70px;
	font-family: 'Helvetica';
	font-size: 35px;
	line-height: 60px;
	color: black;
}

.links a{
	display: inline-block;
	margin: 20px 70px;
	font-family: 'Helvetica';
	font-size: 35px;
	text-decoration: none;
	color: blue;
}

footer {
	width: 1440px;
	height: 200px;
	background: #0000ff80;
}

.logo {
	width: 205px;
	height: 46px;
	margin: 90px 50px;
}

