.page {
	width: 1440px;
	height: 2200px;

}


.header {
	width: 1440px;
	height: 200px;
	background: blue;
}

.heading h1 {
	text-align: center;
	font-size: 70px;
	font-weight: medium;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

.content-container {
	background: cover;	
}

.border {
	width: 1440px;
	height: 100px;
 	background: #0000ffbf;

 }

.description {
	width: 984px;
	font-size: 25px;
	font-weight: normal;
	letter-spacing: 4px;
	align-items: center;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

.text {
	width: 1350px;
	height: 700px;

	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	font-weight: regular 400;

	color: black;
}

.footer {
	width: 1440px;
	height: 200px;
	position: relative;
	background: #0000ff80;
}

.logo {
	width: 191px;
	height: 46px;
	position: absolute;
	top: 80px;
	left: 50px;
}

.logo2 {
	height: 10px;
	position: absolute;
	top: 55px;
	right: 80px;
}


